<h1>Welcome to the Finance Tracker app</h1>
<h2>This is the finance tracker app from the Complete Ruby on Rails Developer course</h2>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>